<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
	<header>
		<nav>
			<a th:href="@{/}">ProgTrack</a>
			<ul>
				<li>
					<a th:href="@{/login}">ログイン</a>
				</li>
				<li>
					<a th:href="@{/signup}">会員登録</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<h1>ログイン</h1>
		
		<div th:if="${param.loggedOut}">
			ログアウトしました
		</div>
		
		<div th:if="${param.error}">
			メールアドレス、パスワードが正しく入力されていません
		</div>
		
		<form th:action="@{/login}" method="post">
			
			<div>
				<input type="text" name="username" autocomplete="email" placeholder="メールアドレス" autoffocus>
			</div>
			<div>
				<input type="password" name="password" autocomplete="new-password" placeholder="パスワード">
			</div>
			<div>
				<button type="submit">ログイン</button>
			</div>
			
		</form>
	</main>


	<!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>