<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>学習時間の編集</title>
</head>
<body>
	<h1>学習時間の編集</h1>
	<form th:action="@{/studytime/{id}(id=${studyTimeObject.studyTimesId})}" th:object="${studyTimeObject}" method="post">
		<label>開始時間：</label>
		<input type="datetime-local" th:field="*{startTime}" required />
		<label>終了時間：</label>
		<input type="datetime-local" th:field="*{endTime}" required />
		<button type="submit">変更</button>
	</form>
	
	<a href="/studytime">戻る</a>
</body>
</html>